
@model tourism_club.Models.PageModel


<div class="name centring">
    <h1>@Model.location.LocationTitle</h1>
</div>

@{

    foreach (var fotos in Model.pathToPhotos)
    {
        <div class="photo centring">
        @if (fotos != "")
        {
        <img src="@fotos" alt="Sample foto" />
        <br />
        }
        </div>
    }
}

<div class="description  centringpading">
    <p>
        @Model.location.LocationDescription
    </p>
</div>
<div class="map centring">
    <iframe src="@Model.frame.source" width="@Model.frame.width" height="@Model.frame.height" style="@Model.frame.style" allowfullscreen="@Model.frame.screen" loading="@Model.frame.loading"></iframe><img src="images\asdf.png" alt="">
</div>

<div class="comments centringpading">
    <fieldset>
        <legend>Коментарі</legend>
        <div class="addNewComments centring">
            <form method="post" action="">
                <div>
                    <input type="hidden" value="@Model.location.Id" name="LocationId" />
                    @if (User.Identity.Name != null)
                    {
                        <input type="hidden" value="@Model.users.Find(x => x.Name == User.Identity.Name).Id" name="CommentatorId" />

                    }
                    @*<input type="text" name="comment" />*@
                    <textarea type="text" rows="4" cols="20" name="comment"></textarea>
                    <br />
                    <button name="action" value="addComment" onclick="addComent()">Додати</button>
                </div>


            </form>
        </div>
        @await Html.PartialAsync("Comments", Model);


    </fieldset>
</div>
