
@model tourism_club.Models.PageModel


<h3>@Model.location.LocationTitle</h3>
<div>
    @{
        foreach (var fotos in Model.pathToPhotos)
        {
            if (fotos != "")
            {
                <img src="@fotos" alt="Sample foto" width=800 height=600 /><br />
            }

        }
    }
</div>

<div>
    <p>@Model.location.LocationDescription</p>
</div>

<div>
    <iframe src="@Model.frame.source" width="@Model.frame.width" height="@Model.frame.height" style="@Model.frame.style" allowfullscreen="@Model.frame.screen" loading="@Model.frame.loading"></iframe>
</div>

        <form method="post" action="">
            <div>
                <input type="hidden" value="@Model.location.Id" name="LocationId" />
                @if (User.Identity.Name != null)
                {
                    <input type="hidden" value="@Model.users.Find(x => x.Name == User.Identity.Name).Id" name="CommentatorId" />

                }

                @*<input type="text" name="comment" />*@
                <textarea type="text" rows="4" cols="20" name="comment"></textarea>
                <br />
                <button name="action" value="addComment">Додати</button>
            </div>


        </form>



@foreach (var coms in Model.comments)
{
    <div class="comments">
        @{
            if (Model.users.Find(x => x.Id == coms.CommentatorId).Name == User.Identity.Name)
            {

                <p>@Model.users.Find(x => x.Id == coms.CommentatorId).Name</p>
                <p>@coms.comment</p>
                <form method="post" action="">
                    <input type="hidden" value="@coms.Id" name="Id" />
                    <button name="action" value="deleteComment">Видалити</button>
                </form>
            }
            else
            {
                <p>@Model.users.Find(x => x.Id == coms.CommentatorId).Name</p>
                <p>@coms.comment</p>
            }
        }

    </div>
}


