@model tourism_club.Models.User


<div id="login_reistration_fon">
    <div id="reistrationBloc" class="centringpading  formBloc">
        <form method="post" class="centringpading">

            <input autocomplete="off" class="setsize" type="text" name="mail" value="@Model.mail" placeholder=" Уведіть пошту" />

            <input autocomplete="off" class="setsize" type="text" name="Name" value="@Model.Name" placeholder="Уведіть ім'я" />

            <input class="setsize" type="password" value="@Model.password" name="password" placeholder=" Уведіть пароль" />

            <input id="authorizationButton" class="centringpading setsize" type="submit"
                   value=" Зареєструватись " />
            <div class="centring">
                @if (ViewBag.mail != null)
                {
                    <p>@ViewBag.mail</p>
                }
                @if (ViewBag.fix != null)
                {
                    <p>@ViewBag.fix</p>
                }

            </div>
            <!-- alert (реєстрація успішна)-->
            
        </form>
    </div>
  </div>
